/* .carousel-item {
  height: 500px;
  opacity: 0.75;
  border: 1px white;
} */

.carousel-item {
  height: 500px;
  opacity: 0.75;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    max-height: 500px;
}

.navbar .navbar-brand {
    color: whitesmoke;
    font-family: Roboto;
}

.navbar {
  background-color: black;
  margin-bottom: 2rem;
}

.media .mr-3 {
  max-height: 500px;
  max-width: auto;
}

.media .mt-0,
.intro {
  color: white;
}