/*NAVBAR CSS*/
.nav{
  background-color: #00092C;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link:hover{
  color:pink;
}

.nav li a{
  color: #edf0f1;
  
}


/* INTRO CSS */

.intro{
  padding-top: 60px;
}
.intro-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 350px;
  padding: 20px;
  opacity:calc(80%)
}

.intro-scroll{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#intro-arrow{
  padding-left: 10px;
}


/*HERO IMAGE CSS*/
.hero{
  padding-top: 20%;
  padding-bottom: 20%;
}

/*ABOUT ME CSS*/


/* PORTFOLIO GALLERY CSS */



/* FOOTER/ CONTACT CSS */

footer{
  background-color: #00092C; 
 
}

#contact-me{
  color:#edf0f1;
  padding: 0px 20px;
}

footer li{
  list-style: none;
  display: inline-block;
  
}

footer li a{
  color:#edf0f1;
  padding: 0px 20px;
}

